body {
  background-image: url(gomashio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

div {
  display: block;
}

.main {
  margin: 30px;
  float: left;
}

.title {
  font-size: 4rem;
  font-style: italic;  
}

.subtitle {
  float: left;
  font-size: 1.22rem;
  margin-top: 100px;
  font-style: italic;
}

.email {
  margin: 30px;
  font-size: 1.5rem;
  font-style: italic;
  float: right;
}

.email div {
  margin-bottom: 0;
}

.white {
  color: white !important;
}